body {
		font-family:sans-serif;
}
form {
	margin:0px;
}
html, body, #page { height: 100%; }
body > #page { height: auto; min-height: 100%; }
#footer {
	clear: both;
	 position: relative;
	 z-index: 10;
	 height: 120px;
	 margin-top: -120px;
	text-align: center;
}	
#paypal_logo {
	width:100px;
}
#bitcoin_logo {
	width:40px;
}
#footer table {
	margin-left:auto;
	margin-right:auto;
}
.donate_wrapper {
	border: 1px solid #AAAAAA;
	padding:10px;
}
#addr {
	height:50px;
	display:inline-block;
	vertical-align:middle;
}
.message {
	padding:10px;
}
	.hd {
		margin-top:10px;
		text-align:center;
	}
	.hd .title {
		display:inline-block;
	}
	.hd h1 {
		margin:0px;
		padding:0px;
		font-family:sans-serif;
		font-weight:500;
		font-size:50px;
	}
	#logo {
		height:200px;
	}
	#logo_text {
		display:inline-block;
		vertical-align: bottom;
		margin-bottom:25px;
	}
	.hd .version {
		text-align:right;
	}
	.hd .summary {
		padding:20px;
	}
	#generated {
		text-align:center;
		padding-bottom:20px;
		padding-top:20px;
	}
	#generated input {

		font-size:20px;
	}
	.not_generated {

	}
	#new_link {
		width:500px;
		margin-left:auto;
		margin-right:auto;

	}
	#page input, #page textarea, #page select {
		width:500px;
	}
	#page table {

		width:100%;
	}
 	#new_link	td {

		padding-bottom:10px;
	}
	.error {
		white-space:nowrap;
		color: red;
	}
